body{
    background-color:#d2eafd ;
    /*background-color: rgb(228, 215, 215);*/
}
.heading{
    background-color:#0b78d1;
    color: white;
    position:relative;
    border:0.5px 0px white;
    top: 0px;
    max-width:99%;
    max-height:fit-content;
    border-radius: 10px;
    height:5%;
    z-index: 2;
}  
.heading a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}





.queue{
    z-index: -1;
    float: left;
    min-height: 75vh;
    max-height: 100vh;
    margin-top: 10vh;
    width: 140px;
    border-radius:5px 20px 20px 20px;
    overflow-x: hidden;
    overflow:scroll;
    /* border: 2px solid white; */
    background: #79bff8;
    position: fixed;
    transition: width 0.3s;
    transition-timing-function: ease-in-out;
}

.queue:hover{
   z-index: 1;
   float: left;
    width: 250px;
    background-color:#796ff8;
}
.queue ul li{
    list-style-type:none;
    border: 1px solid;
    margin-top: 15px;
    padding: 5px;
    box-shadow: 0px 3px 4px #bbb;
}
.pop{
    border-radius: 20px;
    width: 180px;
    overflow: hidden;
    transition: width 100ms;
    transition-timing-function: linear;
    margin-right: 25px;
    background-color:white;
}
.pop:hover{
    margin-right: 25px;
    height: 30px;
    width: 190px;
    background-color:whitesmoke;
}
.songblock{
    height:25vh;
    width:10vw;
    border-radius:10px;
   background-color: white;
    display: inline-flex;
    text-decoration: none;
    color: royalblue;
    margin:0px 10px ;
}
.songblock:hover{
    box-shadow: 3px 3px 5px blue;
}
.songblock .image{
    color: blue;
    height: 20vh;
    width: 10vw;
}



.menu{
    display: inline-flexbox;
    flex-direction: column;
}
.menuitem{
    display: inline-flex;
    margin-left: 30px;
}
.menuitem:hover{
    box-shadow: 0px 3px 4px  rgb(221, 15, 248);   
    margin-left: 30px;
}
.menuitem-active{
    box-shadow: 5px 5px 5px  rgb(99, 20, 173);
    margin-left: 30px;
}




#content{
    margin-top: 14vh;
    z-index:-1;
    position:absolute;
    min-width:1375px;
    border-radius: 10px;
    height: 500px;
    overflow: auto;
     /*border: 2px solid white;*/
     color: white;
    margin-left: 145px;
    background-color: #79bff8;
    box-shadow: blue;
}

#content::-webkit-scrollbar {
display: none;
}
.queue::-webkit-scrollbar {
display: none;
}
